<!DOCTYPE html>
<html lang="en">
  <head>
    <title>your gh-pages</title>
    <meta name="description" content="Rediscover which GitHub repositories you've published on gh-pages.">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import fonts and the webpage's stylesheet -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Actor" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js" defer></script>
    <script src="/client.js" defer></script>
    <script src="/shapes.js" defer></script>
  </head>
  <body>
    <header>
      <h1 class="spiky-header" data-content="rediscover your published gh-pages">rediscover your <br/>published gh-pages</h1>
    </header>

    <main>
      <div id="shapes">
        <div class="shape circle"></div>
        <div class="shape circle large"></div>
        <div class="shape triangle"></div>
        <div class="shape triangle"></div>
        <div class="shape triangle"></div>
        <div class="shape triangle"></div>
        <div class="shape square"></div>
        <div class="shape square"></div>
      </div>
      <form id="search">
        <label for="user">enter your github username:</label>
        <input id="user" name="user" type="text" maxlength="100" placeholder="octocat" aria-labelledby="submit-user" required autocomplete="off">
        <button type="submit"><h1 class="spiky-header" data-content="go!">go!</h1></button>
      </form>
      <section>
        <ul id="pages"></ul>
      </section>
    </main>

    <footer>
      <p>
        I wanted to clean up my GitHub account (still do!), and I couldn't remember which repos I'd published to gh-pages.
        So I made this lil' thing to ping GitHub's API and ask. I hope it helps you rediscover some of your own old favorite projects!
      </p>
      <p>
        FYI - it only goes through 100 repos right now.
      </p>
      Made with &hearts; by  <a href="http://twitter.com/superissarah">SJ</a>, hosted on <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
