/* styles */
/* called by your view template */

/*  notes

text-stroke: https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-text-stroke
set after under parent: https://stackoverflow.com/questions/3032856/

*/

:root {
  --theme-color: #5BFFC4;
  --black-color: #000;
  --white-color: #FFF;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Actor', sans-serif;
  margin: 2em;
  font-size: 18px;
}

header {
  background-color: var(--theme-color);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

h1 {
  font-family: 'Abril Fatface', monospace;
  font-style: italic;
}

/* TODO make this a class, also figure out a way to programatically update content */

.spiky-header {
  position: relative;
  z-index: 1;
}

.spiky-header:after {
  -webkit-text-stroke: 15px var(--white-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header h1:after {
  content: 'rediscover your published gh-pages';
}

button .spiky-header:after {
  content: 'go!';
  -webkit-text-stroke-color: var(--theme-color);
}

.bold {
  font-weight: bold;
}

form {
  width: 100%;
  max-width: 340px;
  margin: 120px auto;
  text-align: center;
}

input {
  display: block;
  background-color: var(--theme-color);
  height: 70px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: none;
  outline: none;


  font-size: 24px;
  text-align: center;
}

button {
  font-size: 16px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  position: relative;
  color: white;
  outline: none;
}

button h1 {
  margin: 0;
}

button:hover {
  color: black;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  font-size: 16px;
  margin-top: 50px;
  padding-top: 25px;
  width: 60%;
  min-width: 300px;
  border-top: 1px solid lightgrey;
}
