/* styles */
/* called by your view template */

/*  notes

text-stroke: https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-text-stroke
set after under parent: https://stackoverflow.com/questions/3032856/

*/

:root {
  --theme-color: #FFF;
  --black-color: #000;
  --white-color: #FFF;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Actor', sans-serif;
  margin: 2em;
  font-size: 18px;
}

header {
  background-color: var(--theme-color);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  transition: background-color 1s;
}

h1 {
  font-family: 'Abril Fatface', monospace;
  font-style: italic;
}

.spiky-header {
  position: relative;
  z-index: 1;
}

.spiky-header:after {
  -webkit-text-stroke: 15px var(--white-color);
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

button .spiky-header:after,
ul .spiky-header:after {
  -webkit-text-stroke-color: var(--theme-color);
}

.bold {
  font-weight: bold;
}

/* main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}


/* animated shapes */

#shapes {
  /* border: 1px solid gray; */
  margin-top: -50px;
  height: 450px;
  width: 300px;
  position: absolute;
  z-index: -1;

  --small-height: 20px;
  --large-height: 36px;
  --triangle-side-height: 12px;
  --triangle-bottom-height: 20px;
}

.shape {
  display: inline-block;
  position: absolute;
  height: var(--small-height);
  width: var(--small-height);
  background-color: var(--theme-color);
}

.shape.large {
  height: var(--large-height);
  width: var(--large-height);
}

.circle {
  border-radius: 50%;
}

.triangle {
  height: 0;
  width: 0;
  background-color: transparent;

  border-left: transparent var(--triangle-side-height) solid;
  border-right: transparent var(--triangle-side-height) solid;
  border-bottom: var(--theme-color) var(--triangle-bottom-height) solid;
}


/* form */

form {
  width: 100%;
  max-width: 340px;
  margin: 150px auto;
  text-align: center;
}

label {
  margin-bottom: 20px;
  display: block;
}

input {
  display: block;
  background-color: var(--theme-color);
  height: 70px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: none;
  outline: none;
  transition: background-color 1s;  


  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

input::placeholder {
  font-weight: bold;
  color: var(--black-color);
}

button {
  font-size: 16px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  position: relative;
  color: white;
  outline: none;
}

button h1 {
  margin: 0;
}

button:hover {
  color: black;
}

button:active {
  box-shadow: none;
}


/* pages listing */

ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

li {
  margin-bottom: 5px;
  list-style: none;
  flex-grow: 1;
  border: 10px solid var(--theme-color);
  margin: 10px;
  padding: 20px;
  word-break: break-all;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

li p {
  margin-top: 0;
}

li h1.spiky-header {
  position: absolute;
  z-index: 1;
  top: -50px;
  left: 0;
  color: white;
}




/* footer */
footer {
  font-size: 16px;
  margin-top: 50px;
  padding-top: 25px;
  width: 60%;
  min-width: 300px;
  border-top: 1px solid lightgrey;
}
