/* styles */
/* called by your view template */

/*  notes

text-stroke: https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-text-stroke
set after under parent: https://stackoverflow.com/questions/3032856/

*/

:root {
  --theme-color: #5BFFC4;
  --black-color: #000;
  --white-color: #FFF;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Actor', sans-serif;
  margin: 2em;
}

header {
  background-color: var(--theme-color);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

h1 {
  font-family: 'Abril Fatface', monospace;
  font-style: italic;

  /* for stylized outline */
  position: relative;
  z-index: 1;
}

/* TODO make this a class, also figure out a way to programatically update content */
.spiky-header:after {
  -webkit-text-stroke: 10px var(--white-color);
  content: 'rediscover your published gh-pages';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}
